@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

.outer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #FBDA31;
  padding: 2rem;
  min-height: 100vh;
}

section {
  max-width: 760px;
  background-color: #ffffff;
  padding: 2rem 0;
  width: 59.4679186228%
}

/*-----legend-----*/

legend {
  margin: 0 auto;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 42px;
}

/*-----radio buttons-----*/

.buttons {
  display: flex;
  font-weight: 300;
}

.buttons div {
  flex: 1 1 30%;
  text-align: center;
}

/*-----input fields-----*/

.fields {
  display: flex;
  flex-wrap: wrap;
  font-weight: 300;
  padding: 30px;
  padding-bottom: 0;
}

.fields div {
  flex: 1 1 40%;
  padding-bottom: 40px;
}

.fields input {
  width: 335px;
  height: 40px;
  border-color: rgb(223, 223, 223);
  border-style: solid;
  border-width: 1px;
}

/*-----bottom section-----*/

.bottom {
  display: flex;
  padding: 30px;
  padding-top: 0;
}

.bottom div {
  flex: 1 1 40%;
}

.sign-up button {
  width: 335px;
  height: 40px;
  background-color: white;
  border: solid;
  border-radius: 6px;
  border-width: 1.5px;
}

.profile-picture input {
  background-color: white;
  border-color: rgb(206, 206, 206);
  border-width: thin;
}

.profile-picture label {
  font-weight: 300;
}

br {
  line-height: 30px;
}
